<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372808837483-fu8g9sonsvk2b5a1qo842v5hom4rf3vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372808837483-fu8g9sonsvk2b5a1qo842v5hom4rf3vu</string>
	<key>API_KEY</key>
	<string>AIzaSyDsgUG4xeQXbSK2fUwNhwdxMrQBvPI9VsA</string>
	<key>GCM_SENDER_ID</key>
	<string>372808837483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mamaimakhrap</string>
	<key>PROJECT_ID</key>
	<string>mamaimakrup</string>
	<key>STORAGE_BUCKET</key>
	<string>mamaimakrup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372808837483:ios:9ae793cc59d24ddc98442e</string>
</dict>
</plist>